In [23]:
import tensorly as tl
import pandas as pd
import numpy as np
import os
import chardet

In [7]:
afghanistan_df = pd.read_csv("../data/trade_data/data/Afghanistan.csv", usecols = ["Classification", "Year", "Trade Flow", "Trade Value (US$)"])

In [8]:
afghanistan_df.head()

  Classification  Year Trade Flow  Trade Value (US$)
0             H4  2018     Import          969675693
1             H4  2018     Import            3172335
2             H4  2018     Import              30675
3             H4  2018     Import            1350268
4             H4  2018     Import              23323

In [31]:
directory = "../data/trade_data/data/"
df_names = []
for filename in os.listdir(directory):
    df_name = filename.replace(".csv", "")
    df_names.append(df_name)

print(len(df_names))
print(df_names)

149
['Thailand', 'Iceland', 'Madagascar', 'Congo', 'Angola', 'Georgia', 'India', 'Slovakia', 'Chad', 'Bolivia (Plurinational State of)', 'Kenya', 'Turkey', 'Tajikistan', 'Namibia', 'Germany', 'Canada', 'El Salvador', 'Croatia', 'Japan', 'Ireland', 'Qatar', 'Bahamas', 'Cameroon', 'Bangladesh', 'Argentina', 'Sri Lanka', 'Brunei Darussalam', 'Austria', 'Denmark', 'Bahrain', 'Mauritius', 'Poland', 'Jamaica', 'Kazakhstan', 'State of Palestine', 'Mongolia', 'Morocco', 'Zambia', 'Nigeria', 'Rep. of Korea', 'Botswana', 'Rwanda', 'Indonesia', 'Czechia', 'Luxembourg', 'Portugal', 'Panama', 'Italy', 'Benin', 'Russian Federation', 'Mali', 'Pakistan', 'Guinea', 'Honduras', 'Iraq', 'New Zealand', 'Greece', 'Australia', 'Ethiopia', 'Armenia', 'Myanmar', 'Peru', 'Latvia', 'Rep. of Moldova', 'Niger', 'Uruguay', 'Slovenia', 'China', 'Afghanistan', 'Netherlands', 'Estonia', 'Kyrgyzstan', 'Uganda', 'France', 'China, Macao SAR', 'Kuwait', 'Trinidad and Tobago', 'United Kingdom', 'Guam', 'Tunisia', 'Zimbabwe', 'Mauritania', 'South Africa', 'China, Hong Kong SAR', 'Viet Nam', 'Bosnia Herzegovina', 'USA', 'Belgium', 'Nepal', 'Spain', 'Cambodia', 'Cuba', 'Oman', 'Norway', 'Colombia', 'Belarus', 'Jordan', 'Papua New Guinea', 'Hungary', "Lao People's Dem. Rep.", 'Senegal', 'Philippines', 'Brazil', 'Israel', 'Ukraine', 'Lithuania', 'Switzerland', 'Algeria', 'Serbia', 'Malawi', 'Equatorial Guinea', 'Saudi Arabia', 'North Macedonia', 'Yemen', 'Egypt', 'Malaysia', 'Fiji', 'Chile', 'Libya', 'Guatemala', 'Dominican Rep.', 'Nicaragua', 'Mexico', 'Cyprus', 'Paraguay', 'Gabon', 'Lebanon', 'Sudan', 'Uzbekistan', 'Sweden', 'Ghana', 'Maldives', 'Singapore', 'Mozambique', "CÃ´te d'Ivoire", 'Haiti', 'Burkina Faso', 'United Arab Emirates', 'Finland', 'Bulgaria', 'Costa Rica', 'Malta', 'United Rep. of Tanzania', 'Turkmenistan', 'Ecuador', 'Albania', 'Romania', 'Azerbaijan', 'Iran']

In [26]:
with open("../data/trade_data/data/Thailand.csv", 'rb') as f:
    enc = chardet.detect(f.read())

th_df = pd.read_csv("../data/trade_data/data/Thailand.csv", encoding = enc['encoding'], usecols = ["Classification", "Year", "Trade Flow", "Trade Value (US$)"])

In [32]:
# assign dataframes to each csv

# columsn to read in
cols = ["Classification", "Year", "Trade Flow", "Trade Value (US$)"]

# creating each dataframe for file in data directory
for i in range(0,len(df_names)):
    df_name = df_names[i]
    print(df_name)
    
    filepath = os.path.join(directory, df_names[i] + ".csv")
    
    # detect the files encoding (not all are utf-8)
    with open(filepath, 'rb') as f:
        enc = chardet.detect(f.read())
    
    #this programmatically assigns a df variable name
    locals()[df_name] = pd.read_csv(filepath,  encoding = enc['encoding'], usecols = cols)

Thailand
Iceland
Madagascar
Congo
Angola
Georgia
India
Slovakia
Chad
Bolivia (Plurinational State of)
Kenya
Turkey
Tajikistan
Namibia
Germany
Canada
El Salvador
Croatia
Japan
Ireland
Qatar
Bahamas
Cameroon
Bangladesh
Argentina
Sri Lanka
Brunei Darussalam
Austria
Denmark
Bahrain
Mauritius
Poland
Jamaica
Kazakhstan
State of Palestine
Mongolia
Morocco
Zambia
Nigeria
Rep. of Korea
Botswana
Rwanda
Indonesia
Czechia
Luxembourg
Portugal
Panama
Italy
Benin
Russian Federation
Mali
Pakistan
Guinea
Honduras
Iraq
New Zealand
Greece
Australia
Ethiopia
Armenia
Myanmar
Peru
Latvia
Rep. of Moldova
Niger
Uruguay
Slovenia
China
Afghanistan
Netherlands
Estonia
Kyrgyzstan
Uganda
France
China, Macao SAR
Kuwait
Trinidad and Tobago
United Kingdom
Guam
Tunisia
Zimbabwe
Mauritania
South Africa
China, Hong Kong SAR
Viet Nam
Bosnia Herzegovina
USA
Belgium
Nepal
Spain
Cambodia
Cuba
Oman
Norway
Colombia
Belarus
Jordan
Papua New Guinea
Hungary
Lao People's Dem. Rep.
Senegal
Philippines
Brazil
Israel
Ukraine
Lithuania
Switzerland
Algeria
Serbia
Malawi
Equatorial Guinea
Saudi Arabia
North Macedonia
Yemen
Egypt
Malaysia
Fiji
Chile
Libya
Guatemala
Dominican Rep.
Nicaragua
Mexico
Cyprus
Paraguay
Gabon
Lebanon
Sudan
Uzbekistan
Sweden
Ghana
Maldives
Singapore
Mozambique
CÃ´te d'Ivoire
Haiti
Burkina Faso
United Arab Emirates
Finland
Bulgaria
Costa Rica
Malta
United Rep. of Tanzania
Turkmenistan
Ecuador
Albania
Romania
Azerbaijan
Iran

In [33]:
Iran.head()

  Classification  Year Trade Flow  Trade Value (US$)
0             H5  2017     Import          323453449
1             H5  2017     Import              45549
2             H5  2017     Import             137393
3             H5  2017     Import            1081913
4             H5  2017     Import             174009